{
  "name": "${node_pkg}",
  "version": "${node_version}",
  "repository": {
  	"type": "git",
	"url": "git+https://github.com/eriksLapins/rform.git"
  },
  "author": "Eriks Lapins <lapinseriks98@gmail.com>",
  "homepage": "https://github.com/eriksLapins/rform#readme",
  "os": [
  	"${node_os}"
	],
  "cpu": [
  	"${node_arch}"
	]
}
